@keyframes up {
  from{top: 100px}
  to{top: 90px}
}
.icone-warpper3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 100px;
  animation-name: up;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.icon3{
  max-width: 30px;
}